@page
@{
    ViewData["Title"] = "Zasady";
}
<h1 style="font-style: italic; font-size: 50px; "class="description">Zmierzch Mutantów</h1>
<p class="description">Gra dla dwóch graczy z wykorzystaniem programowania obiektowego C# oraz Razor Pages.</p>
<h2 class="description">Zasady gry:</h2>
<p class="description">Na mapie znajdują się Ork, Elf oraz mutanty. W ciągu dnia mutanty są zwierzętami, 
    które zabijają Orka, gdy ten wejdzie z nimi w kontakt. Uratować go może przed tym Elf, 
    który pozbywa się zwierząt. Gdy nadchodzi noc, mutanty stają się krwiożerczymi potworami, 
    które pragną krwi Elfa. Ork wtedy może zabić mutanty, które zagrażają Elfowi. Ork i Elf muszą współpracować, 
    by przetrwać i pozbyć się wszystkich mutantów.
</p>
<h3></h3>
<h2 class="description">Zasady ruchu:</h2>
<a class="description">Ork:</a>
<p class="description">Ork porusza się o jedno pole w górę, dół, lewo lub prawo. </p>
<a class="description">Elf:</a>
<p class="description">Elf porusza się o jedno pole w górę, dół, lewo lub prawo. </p>
<a class="description">Zwierzęta/Szkielety:</a>
<p class="description">Zwierzęta/Szkielety poruszają się o jedno pole w górę, dół, lewo lub prawo.</p>
<a class="description">Orzeł/Wampir:</a>
<p class="description">Orzeł/Wampir porusza się o dwa pola w górę, dół, lewo lub prawo.</p>
<a class="description">Struś/Zombie:</a>
<p class="description">Struś/Zombie porusza się o jedno pole z obrotem w lewo o 45 stopni w górę, dół, lewo lub prawo</p>
<h3></h3>
<footer class="description">Autorzy: Bartosz Banach, Krystian Byrgiel</footer>